.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 800;
    font-style: normal;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    max-width: 1440px;
    margin: 0px auto;
}

.first-bar {

    align-items: center;
    justify-content: space-between;
    display: flex;
}

.item-task {
    margin-right: 67px;
    font-weight: 67px;
    font-size: .8rem;
}

.display-flex {
    display: flex;

}

.color {
    color: #8C8C8C;
}

main>section {
    margin-top: 100px;
}

.team {
    margin-top: 100px;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
    display: inline-block;
}

.item {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    border: 1px solid #323232;
    border-radius: 39px;
}

.bot {
    margin-left: -100px;
    margin-top: -170px;

}

.wth {
    width: 40%;
    margin: 100px 167px 76px 0px;
}

.with {
    width: 100%;
    margin: 100px 167px 100px 0px;
    justify-content: space-around;
}

.experience-badge {
    padding: 30px 50px 45px 30px;
    background-color: #232323;
    border-radius: 12px;
    display: flex;
    gap: 10px;

}

.moga {
    margin-left: 250px;
    margin-top: -400px;
}

.clint-satis {
    background-color: #393939;
    padding: 17px 30px 35px 30px;
    border-radius: 12px;

}

.fitness {
    font-size: 1.5rem;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}

.bgcolor1 {
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: .9rem;
}

.bgcolor2 {
    padding: 8px 20px;
    border-radius: 42px;
    border: 1px solid #FFFFFF;
    background-color: black;
    color: #FFFFFF;
}

.fontttt {
    font-size: 3.25rem;
    height: 120%;
}

.header_margin {
    margin: 0px 198px;
    color: #FFFFFF;
    background-color: #000000;
}

.imageee {
    margin: 135px 250px 100px 200px;
}

.habits {
    text-align: center;
    align-items: center;
}

.griddd {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    margin: 58px auto;
}

.exercise {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.extra {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-right: 50px;
    background-color: #222222;
    padding-left: 30px;
}

.team {
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 150px;
}

.member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #222222;
    padding: 10px;
}

.trainer {
    height: 272px;
    width: 326px;
    justify-content: center;
    border-radius: 18px;

}

.container {
    position: relative;
    text-align: center;
    color: white;

}

.bottom-left {
    position: absolute;
    bottom: 2px;
    left: 50px;
}

.bold {
    font-weight: 800;
    font-style: italic;
    height: 120%;
    font-size: 3rem;
    color: rgb(230, 83, 60);
}

.last-banner {
    width: 46%;
    padding-right: 30px;

}

.last-banners {
    width: 26%;
}

footer {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    text-align: left;
    align-items: center;
    margin-bottom: 100px;
}

.light-gray {
    color: #8C8C8C;
}

table,
td,
th {
    border: 1px solid #383838;
    border-collapse: collapse;
    padding: 15px 41px;
    margin-top: 55px;
}

.bmi-head {
    font-size: 28px;
    font-weight: 600;
}

.color3 {
    color: rgba(56, 56, 56, 0.1);
    gap: 30px;
    border-radius: 8px;
}

.calc {
    color: #FFFFFF;
    background-color: rgba(230, 83, 60, 1);
    padding: 16px 70px;
    border-radius: 42px;
    margin-top: 45px;
}

.Calculate {
    gap: 230px;
    background-color: #232323;
    padding-left: 20px;
    padding-bottom: 10px;

}

.box {
    padding: 13px 232px 13px 20px;
    background-color: #383838;
    color: #757575;
    gap: 30px;
    margin-bottom: 20px;
}



@media screen and (max-width:576px) {

    .with,
    .extra,
    .Calculate,
    .header_margin {
        flex-direction: column;
        gap: 20px;
    }
   

    .header_margin {
        margin-left: 20px;
        margin-right: 0px;
        padding: 10px 10px;
    }

    .shape,
    .fontttt {
        width: 100%;
        margin-right: 20px;
        justify-items: center;
    }

    .habits {
        margin-top: 400px;
    }

    .griddd,
    .member {
        grid-template-columns: 1fr;
    }

    .hamburger {
        cursor: pointer;
        display: block;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

    .Calculate {
        margin-left: -15px;
        width: 100%;
    }

    .box {
        max-width: 100%;
        margin-left: -10px;
    }

    .fontttt {
        width: fit-content;
    }

    .light-gray {
        width: fit-content;

    }
    .item{
        display: none;
    }
    .handsome {
        width: 80%;
        margin-left: 40px;
        margin-right: 20px;
    }

    .last-banner {
        width: 100%;
        margin-left: 50px;
    }

    .last-banners {
        margin-left: -200px;
    }

    .under {
        min-width: 200%;
    }

    .next-img {
        width: 430px;

    }

    .extra {
        width: 100%;
    }

    .bmie {
        width: 100%;
    }

    .box1 {
        padding: 14px 170px 14px 20px;
    }

    .moga {
        margin-left: 220px;
    }

    .bot {
        margin-left: -50px;
    }

    .fitness {
        padding-top: 40px;
    }
    
    
    
   
}